@page "/logs"
<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Inventory Log</h1>
</nav>
<lable>Search:</lable>
<input @bind="search" class="form-control col-1" />
<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Taken By</th>
            <th>Status</th>
            <th>Approve?</th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<Items> _itemsList = _items;
            IEnumerable<User> _usersList = _users;
            IEnumerable<InvLog> _logs = _invlogs;
            @foreach (var items in _logs)
            {
                string _itemName = _itemsList.FirstOrDefault(x => x.ItemId == items.ID)?.ItemName;
                string _userName = _usersList.FirstOrDefault(x => x.Id == items.Staffid)?.Username;
                <tr>
                    <td>@_itemName</td>
                    <td>@items.Quantity</td>
                    <td>@_userName</td>
                    <td>
                        <input type="checkbox" value="@items.ApprovedStatus" disabled="@items.ApprovedStatus" class="btn btn-outline-secondary"
                           @onclick="()=>OpenEditItemDialog(items.ID,items.Staffid,items.ItemId , items.Quantity)">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" type="button" @onclick="()=>DeleteInventoryLog(items.ID )">
                            <span class="oi oi-delete" /> Delete
                        </button>
                    </td>

                </tr>
            }

        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private List<Items> _items { get; set; }
    private List<InvLog> _invlogs { get; set; }
    private List<User> _users { get; set; }

    protected override void OnInitialized()
    {
        _invlogs = InvLogService.GetAll();
        _items = ItemService.GetAll();
        _users = UsersService.GetAll();
    }

    private void OpenEditItemDialog(Guid id, Guid staffID, Guid itemId, int quantity)
    {
        bool status = true;
        _invlogs = InvLogService.Update(id, staffID, _globalState.CurrentUser.Id, itemId, status, quantity);
        Console.WriteLine(quantity);
        _items = ItemService.RemoveQuantity(id, quantity);
        status = false;
    }

    private void DeleteInventoryLog(Guid id)
    {
        _invlogs = InvLogService.Delete(id);
    }

    	private string _search;
	public string search
	{
		get { return _search; }
		set
		{
			_search = value;
		}
	}
}